<div class="container">
    <div class="logo"><a href="{:url('Index/index')}">VR-FAMLIY V1.0</a></div>
    <div class="open-nav"><i class="iconfont">&#xe699;</i></div>
    <ul class="layui-nav right" lay-filter="">
      <li class="layui-nav-item">
        <a href="javascript:;">{$Request.session.adminname}</a>
        <dl class="layui-nav-child"> <!-- 二级菜单 -->
          <dd><a href="{:url('Login/login')}">切换帐号</a></dd>
          <dd><a href="{:url('Index/out')}">退出</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item"><a href="/">前台首页</a></li>
    </ul>
</div>
